@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @font-face {
    font-family: "vazir";
    src: url("../fonts/Vazir.ttf");
  }
  @font-face {
    font-family: "vazir-Light";
    src: url("../fonts/Vazir-Light.ttf");
  }
  @font-face {
    font-family: "vazir-Bold";
    src: url("../fonts/Vazir-Bold.ttf");
  }
  @font-face {
    font-family: "vazir-Black";
    src: url("../fonts/Vazir-Black.ttf");
  }
  @font-face {
    font-family: "vazir-Medium";
    src: url("../fonts/Vazir-Medium.ttf");
  }

  .bgBody {
    background-image: url("../images/wave.svg"),
      linear-gradient(
        to left bottom,
        #322f30,
        #2d2b2c,
        #292628,
        #242225,
        #1f1e21,
        #1e1e21,
        #1c1e21,
        #1b1e21,
        #1e2224,
        #212628,
        #242a2b,
        #282e2e
      );
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: top;
    background-size: cover;
  }

  .background-glass {
    /* From https://css.glass */
    background: rgba(248, 241, 241, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11px);
    -webkit-backdrop-filter: blur(11px);
  }
  .bg-glass-list {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.12);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.1px);
    -webkit-backdrop-filter: blur(17.1px);
    border: 1px solid rgba(255, 255, 255, 0.47);
  }
  @media (max-width: 479px) {
    .bg-glass-list {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  @media (min-width: 480px) {
    .bg-glass-list {
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }
  .bg-glass-list-hover {
    background: rgba(255, 255, 255, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.1px);
    -webkit-backdrop-filter: blur(17.1px);
    border: 1px solid rgba(255, 255, 255, 0.02);
  }
  .bg-glass-list-hover:last-child {
    transition: all 0.3s;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  #list-items {
    visibility: hidden;
  }
  .dir-lrt {
    direction: ltr;
  }
  #lineHover {
    position: relative;
    cursor: pointer;
    z-index: 200000;
  }
  #lineHover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(
      to left bottom,
      #8e0c0c,
      #694800,
      #3b6017,
      #006d56,
      #0f7381
    );
    bottom: 0;
    right: 0;
    transform-origin: center;
    transform: scale(0);
    transition: all 0.1s;
  }
  #lineHover:hover::before {
    transform: scale(1);
    background-image: linear-gradient(
      to left bottom,
      #8e0c0c,
      #694800,
      #3b6017,
      #006d56,
      #0f7381
    );
    transition: all 0.7s;
  }
  #shadow-img::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    background-image: linear-gradient(to top, #151613f8, #161a18ad, #181d1d80, #1c202367, #22232700);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
  .swiper {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 15px;
  }
}
