@font-face {
  font-family: "Sarbaz";
  src: url("../../fonts/Sarbaz.otf");
}
@font-face {
  font-family: "Vazir";
  src: url("../../fonts/Vazir.ttf");
}
@font-face {
  font-family: "Vazir-Light";
  src: url("../../fonts/Vazir-Light.ttf");
}
@font-face {
  font-family: "Vazir-Bold";
  src: url("../../fonts/Vazir-Bold.ttf");
}
@font-face {
  font-family: "Vazir-Black";
  src: url("../../fonts/Vazir-Black.ttf");
}
@font-face {
  font-family: "Vazir-Medium";
  src: url("../../fonts/Vazir-Medium.ttf");
}
@font-face {
  font-family: "Vazir-Thin";
  src: url("../../fonts/Vazir-Thin.ttf");
}
@font-face {
  font-family: "MAVIS";
  src: url("../../fonts/MAVIS.otf");
}
@font-face {
  font-family: "MAVISBold";
  src: url("../../fonts/MAVISBold.woff");
}
@font-face {
  font-family: "MAVISLight";
  src: url("../../fonts/MAVISLight.ttf");
}
* {
  padding: 0;
  border: none;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #f8fbf5;
  font-family: "Vazir";
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  width: 100%;
  height: 100vh;
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.introduction__slider {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overscroll-behavior-x: hidden;
  overflow-wrap: normal;
}
.introduction__slider-item {
  position: relative;
  width: 100%;
  height: 20rem;
  display: flex;
  justify-content: center;
  margin: 0 15px;
  align-items: flex-end;
}
.introduction__slider-item1 {
  position: absolute;
  top: 60%;
  right: -40%;
  width: 50%;
  height: 10rem;
}
.introduction__slider-item2 {
  width: 70%;
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.introduction__slider-item3 {
  position: absolute;
  top: 60%;
  left: -40%;
  width: 50%;
  height: 10rem;
}
.introduction__slider-content {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, rgba(23, 59, 35, 0.4039215686), rgba(25, 65, 39, 0.4039215686), rgba(28, 72, 43, 0.4431372549), rgba(30, 78, 47, 0.1529411765), rgba(33, 85, 51, 0));
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  height: 100%;
  bottom: 0;
  position: absolute;
}
.introduction__slider-title {
  position: absolute;
  left: 20px;
  bottom: 120px;
  color: #ffffff;
  font-family: "Vazir-Bold";
  font-size: 20px;
}
.introduction__slider-text {
  position: absolute;
  left: 20px;
  bottom: 60px;
  text-overflow: clip;
  max-width: 30%;
  word-spacing: normal;
  overflow: hidden;
  max-height: 40px;
  line-height: 20px;
  color: #ffffff;
  font-family: "Vazir-Light";
  font-size: 13px;
}
.introduction__slider-btn {
  position: absolute;
  left: 20px;
  bottom: 20px;
  width: 130px;
  height: 30px;
  border-radius: 10px;
  background-color: #0F8319;
}
.introduction__slider-btn--link {
  text-decoration: none;
  font-family: "Vazir-Bold";
  color: #ffffff;
}
.introduction__slider-photo {
  border-radius: 10px;
  width: 100%;
  height: auto;
}
.introduction__slider-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  border: none;
  outline: none;
  z-index: 2000000000000000;
  top: 50%;
}
.introduction__slider-button {
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.introduction__slider-icon {
  cursor: pointer;
  width: 100%;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0;
  padding: 0 8rem;
  top: 0;
  color: #243d20;
  background-color: #ffffff;
  z-index: 10000000000;
}
.header__top {
  flex: 1 1 60%;
  width: 100%;
  display: flex;
}
.header__icons {
  flex: 1 1 10%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header__icons-icon {
  width: 40px;
}
.header__icons-icon:hover {
  transform: translateY(-2px);
  transition: all 0.2s;
}
.header__icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.header__icons-DarkTheme {
  width: 40px;
  cursor: pointer;
}
.header__search {
  flex: 1 1 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__search-input {
  direction: rtl;
  border: none;
  border-radius: 10px;
  height: 40px;
  position: relative;
  color: #262626;
  font-size: 20px;
  padding-right: 30px;
  width: 100%;
  background-color: #edf8ea;
}
.header__search-input::-webkit-input-placeholder {
  -webkit-appearance: none;
  font-size: 25px;
  color: #000;
}
.header__search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
          appearance: none;
  position: relative;
  right: -10px;
  width: 20px;
  height: 20px;
  background: url("../../icons/close.svg") no-repeat center center;
  background-size: cover;
  cursor: pointer;
}
.header__search-icon {
  position: absolute;
  width: 20px;
  right: 0;
  margin-right: 5px;
  cursor: pointer;
}
.header__language {
  flex: 0.1 1 10%;
  list-style: none;
  margin: 0 10px;
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  align-items: center;
  font-family: "MAVIS";
  position: relative;
}
.header__language-lang {
  text-decoration: none;
  color: #262626;
}
.header__language-option {
  display: flex;
  flex-direction: column;
}
.header__language-link {
  text-decoration: none;
  color: white;
}
.header__language-link img {
  width: 100%;
  cursor: pointer;
}
.header__language-icon {
  margin-left: 10px;
  z-index: 2000;
}
.header__language-icon img {
  cursor: pointer;
}
.header__language-lists {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  padding: 5px;
  transform: scaleY(0.1);
  transform-origin: 100% 0%;
}
.header__language-list {
  list-style: none;
  text-transform: uppercase;
}
.header__logo {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__logo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #64a507;
}
.header__logo-photo {
  flex-basis: 20%;
  width: 100%;
  max-height: 7rem;
}
.header__logo-text {
  text-align: center;
  font-family: "Sarbaz";
  flex-basis: 80%;
  font-size: 15px;
}
.header__bottom {
  flex: 1 1 40%;
  width: 100%;
  display: flex;
}

.navigation {
  display: flex;
  width: 100%;
}
.navigation__items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 14px;
}
.navigation__items-item {
  padding: 10px;
  list-style: none;
}
.navigation__items-item a {
  text-decoration: none;
  font-family: "Vazir-Bold";
  color: #243d20;
}
.navigation__items-item a:hover {
  color: #64a507;
}
.navigation__items-item:first-child a {
  color: #64a507;
}/*# sourceMappingURL=home.css.map */