<!DOCTYPE html>
<html lang="fa">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>باغ ملی گنبد</title>
		<link rel="stylesheet" href="../Style/home.css" />
		<link rel="icon" href="../images/ghaboos tower .png" />
	</head>
	<body>
		<div class="container">
			<header class="header">
				<section class="header__top">
					<div class="header__logo">
						<img
							src="../icons/iran.svg"
							alt=""
							class="header__logo-photo"
						/>
						<h3 class="header__logo-text">
							باغ ملی شهرستان گنبدکاووس
						</h3>
					</div>
					<div class="header__search">
						<input
							type="search"
							class="header__search-input"
							placeholder="جستجو"
							autofocus
						/>
						<img
							src="../icons/Search.svg"
							alt="Search"
							class="header__search-icon"
						/>
					</div>

					<div class="header__icons">
						<a href="#" class="header__icons-link">
							<img
								class="header__icons-icon"
								src="../icons/internet.svg"
								alt=""
							/>
						</a>
						<a href="#" class="header__icons-link">
							<img
								src="../icons/moon.svg "
								alt=""
								class="header__icons-icon"
							/>
						</a>

						<a href="#" class="header__icons-link">
							<img
								src="../icons/Buy.svg"
								alt=""
								class="header__icons-icon"
							/>
						</a>
						<a href="#" class="header__icons-link">
							<img
								src="../icons/Profile.svg"
								alt=""
								class="header__icons-icon"
							/>
						</a>
					</div>
				</section>
				<section class="header__bottom">
					<nav class="navigation">
						<ul class="navigation__items">
							<li class="navigation__items-item">
								<a href="#">صفحه اصلی</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">اخبار</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">جشنواره ها</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">پژوهشکده</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">موزه</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">امکانات</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">درباره ما</a>
							</li>
						</ul>
					</nav>
				</section>
			</header>
			<main class="main">
				<section class="introduction">
					<div class="introduction__slider">
						<div class="introduction__slider-item">
							<h2 class="introduction__slider-title">
								لورم ایپسوم متن ساختگی
							</h2>
							<p class="introduction__slider-text">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
								صنعت چاپ،راحانلورم ایپسوم متن ساختگی با تولید
								سادگی نامفهوم از صنعت چاپ،
							</p>
							<button class="introduction__slider-btn">
								<a href="#"> متن ساختگی </a>
							</button>
							<img
								src="../images/imagesOne.png"
								alt="imagesOne"
								class="introduction__slider-photo"
							/>
						</div>
						<div class="introduction__slider-item">
							<h2 class="introduction__slider-title">
								لورم ایپسوم متن ساختگی
							</h2>
							<p class="introduction__slider-text">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
								صنعت چاپ،راحانلورم ایپسوم متن ساختگی با تولید
								سادگی نامفهوم از صنعت چاپ،
							</p>
							<button class="introduction__slider-btn">
								<a href="#"> متن ساختگی </a>
							</button>
							<img
								src="../images/imagesTwo.png"
								alt="imagesTwo"
								class="introduction__slider-photo"
							/>
						</div>

						<div class="introduction__slider-item">
							<h2 class="introduction__slider-title">
								لورم ایپسوم متن ساختگی
							</h2>
							<p class="introduction__slider-text">
								لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
								صنعت چاپ،راحانلورم ایپسوم متن ساختگی با تولید
								سادگی نامفهوم از صنعت چاپ،
							</p>
							<button class="introduction__slider-btn">
								<a href="#"> متن ساختگی </a>
							</button>
							<img
								src="../images/imagesOne.png"
								alt="imagesOne"
								class="introduction__slider-photo"
							/>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="footer__wrapper">
					<section class="contact">
						<div class="social">
							<div class="social__send">
								<img
									src="../icons/Prev.svg"
									alt=""
									class="social__send-icon"
								/>
								<input
									type="email"
									class="social__send-email"
									placeholder="لطفا ادرس ایمیل خود را وارد کنید"
									required
									autofocus
								/>
								<img
									src="../icons/Email.svg"
									alt="Email"
									class="social__send-icon"
								/>
							</div>
							<div class="social__media">
								<a href="#" class="social__media-links">
									<img
										src="../icons/Email.svg"
										alt=""
										class="social__media-icon"
									/>
								</a>
								<a href="#" class="social__media-links">
									<img
										src="../icons/Github.svg"
										alt=""
										class="social__media-icon"
									/>
								</a>
								<a href="#" class="social__media-links">
									<img
										src="../icons/Instagram.svg"
										alt=""
										class="social__media-icon"
									/>
								</a>
								<a href="#" class="social__media-links">
									<img
										src="../icons/Twiter.svg"
										alt=""
										class="social__media-icon"
									/>
								</a>
							</div>
						</div>
						<div class="address">
							<div class="address__wrapper">
								<img
									src="../icons/mobile.svg"
									alt=""
									class="address__icon"
								/>
								<div class="address__texts">
									<p class="address__texts-text">
										تلفن:09115291407
									</p>
									<p class="address__texts-text">
										فکس:88562932
									</p>
									<p class="address__texts-text">
										supports@iranhdm.ir
									</p>
								</div>
							</div>
						</div>

						<div class="relationship">
							<div class="relationship__box">
								<img
									src="../icons/location.svg"
									alt="location"
									class="relationship__img"
								/>
								<p class="relationship__address">
									استان گلستان - گنبد -باغ ملی
								</p>
							</div>
						</div>
					</section>
				</div>
			</footer>
		</div>
		<script src="../sctipts/home.js"></script>
	</body>
</html>
