<!DOCTYPE html>
<html lang="fa">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>باغ ملی گنبد</title>
		<link rel="stylesheet" href="../Style/home.css" />
		<link rel="icon" href="../images/ghaboos tower .png" />
	</head>
	<body>
		<div class="container">
			<header class="header">
				<section class="header__top">
					<div class="header__logo">
						<img
							src="../icons/Icon.png"
							alt=""
							class="header__logo-photo"
						/>
						<h3 class="header__logo-text">
							باغ ملی شهرستان گنبدکاووس
						</h3>
					</div>
					<div class="header__search">
						<input
							type="search"
							class="header__search-input"
							placeholder="جستجو"
							autofocus
						/>
						<img
							src="../icons/Search.svg"
							alt="Search"
							class="header__search-icon"
						/>
					</div>
					<div class="header__language">
						<div class="header__language-option">
							<div class="header__language-lang">
								<a href="#" class="header__language-link">
									<img src="../icons/internet.svg" alt="" />
								</a>
							</div>
							<ul class="header__language-lists">
								<li class="header__language-list header__language-list1">fa</li>
								<li class="header__language-list header__language-list2">en</li>
								<li class="header__language-list header__language-list3">ar</li>
								<li class="header__language-list header__language-list4">fr</li>
							</ul>
						</div>
						<figure class="header__language-icon" onclick="selectLangHand()">
							<img src="../icons/chevron_down.svg" alt="" />
						</figure>
					</div>
					<div class="header__icons">
						<img
							src="../icons/moon.svg "
							alt=""
							class="header__icons-DarkTheme"
						/>
						<a href="#" class="header__icons-link">
							<img
								src="../icons/Buy.svg"
								alt=""
								class="header__icons-icon"
							/>
						</a>
						<a href="#" class="header__icons-link">
							<img
								src="../icons/Profile.svg"
								alt=""
								class="header__icons-icon"
							/>
						</a>
					</div>
				</section>
				<section class="header__bottom">
					<nav class="navigation">
						<ul class="navigation__items">
							<li class="navigation__items-item">
								<a href="#">صفحه اصلی</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">اخبار</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">جشنواره ها</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">پژوهشکده</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">موزه</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">امکانات</a>
							</li>
							<li class="navigation__items-item">
								<a href="#">درباره ما</a>
							</li>
						</ul>
					</nav>
				</section>
			</header>
			<main class="main">
				<section class="introduction">
					<div class="introduction__slider">
						<div class="introduction__slider-buttons">
							<button class="introduction__slider-button">
								<img
									src="../icons/Prev.svg"
									alt="Prev"
									class="introduction__slider-icon"
								/>
							</button>
							<button class="introduction__slider-button">
								<img
									src="../icons/Next.svg"
									alt="Next"
									class="introduction__slider-icon"
								/>
							</button>
						</div>
						<div
							class="introduction__slider-item introduction__slider-item1"
						>
							<div class="introduction__slider-content">
								<h2 class="introduction__slider-title">
									لورم ایپسوم متن ساختگی
								</h2>
								<p class="introduction__slider-text">
									لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم از صنعت چاپ،راحانلورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
								</p>
								<button class="introduction__slider-btn">
									<a
										href="#"
										class="introduction__slider-btn--link"
									>
										متن ساختگی
									</a>
								</button>
							</div>
							<img
								src="../images/imagesOne.png"
								alt="imagesOne"
								class="introduction__slider-photo"
							/>
						</div>
						<div
							class="introduction__slider-item introduction__slider-item2"
						>
							<div class="introduction__slider-content">
								<h2 class="introduction__slider-title">
									لورم ایپسوم متن ساختگی
								</h2>
								<p class="introduction__slider-text">
									لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم از صنعت چاپ،راحانلورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
								</p>
								<button class="introduction__slider-btn">
									<a
										href="#"
										class="introduction__slider-btn--link"
									>
										متن ساختگی
									</a>
								</button>
							</div>
							<img
								src="../images/imagesTwo.png"
								alt="imagesOne"
								class="introduction__slider-photo"
							/>
						</div>

						<div
							class="introduction__slider-item introduction__slider-item3"
						>
							<div class="introduction__slider-content">
								<h2 class="introduction__slider-title">
									لورم ایپسوم متن ساختگی
								</h2>
								<p class="introduction__slider-text">
									لورم ایپسوم متن ساختگی با تولید سادگی
									نامفهوم از صنعت چاپ،راحانلورم ایپسوم متن
									ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
								</p>
								<button class="introduction__slider-btn">
									<a
										href="#"
										class="introduction__slider-btn--link"
									>
										متن ساختگی
									</a>
								</button>
							</div>
							<img
								src="../images/imagesOne.png"
								alt="imagesOne"
								class="introduction__slider-photo"
							/>
						</div>
					</div>
				</section>
			</main>
		</div>
		<script src="../sctipts/home.js"></script>
	</body>
</html>
