.content {
	width: 100%;
	height: auto;
	margin: 3rem 0px 0;
	&__buttons {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		@include respond(tab-port) {
			margin-bottom: 20px;
		}
		&-btn {
			width: 200px;
			height: 40px;
			border-bottom-right-radius: 20px;
			border-top-left-radius: 20px;
			background-color: $color__BgBtn2;
			margin: 0 20px;
			cursor: pointer;
			&:nth-child(2) {
				background-color: $color__BgBtn;
			}
			&:hover {
				background-color: $color__BgBtn;
			}
		}
		&-link {
			text-decoration: none;
			color: $color_primary;
			font-size: 18px;
			@include respond(phone) {
			}
			@include respond(tab-port) {
				font-size: 20px;
			}
			@include respond(tab-land) {
				font-size: 25px;
			}
			@include respond(big-desktop) {
				font-size: 25px;
			}
		}
	}
	&__news {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;

		&-link {
			text-decoration: none;
			font-size: 16px;
			&:hover {
				color: $color__text-hover;
			}
			@include respond(phone) {
			}
			@include respond(tab-port) {
				font-size: 18px;
			}
			@include respond(tab-land) {
				font-size: 23px;
			}
			@include respond(big-desktop) {
				font-size: 23px;
			}
		}
		&-img {
			width: 15px;
			@include respond(tab-land) {
				width: 20px;
			}
			@include respond(tab-land) {
				width: 25px;
			}
		}
	}
}
.news-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}
