.introduction {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	&__slider {
		display: flex;
		flex-direction: row;
		position: relative;
		width: 100%;
		height: 100vh;
		overflow-x: hidden;
		overflow-wrap: normal;
		align-items: center;
		justify-content: center;
		flex-wrap: nowrap;
		&-item {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			position: absolute;
			inset: 0 0 0 0;
			margin: auto;
		}
		&-title {
			position: absolute;
			left: 20px;
			bottom: 120px;
			color: $color__text;
			font-family: $Vazir-Bold;
			font-size: 20px;
			@include respond(phone) {
			}
			@include respond(tab-port) {
			}
			@include respond(tab-land) {
			}
			@include respond(big-desktop) {
				font-size: 35px;
			}
		}
		&-text {
			position: absolute;
			left: 20px;
			bottom: 60px;
			text-overflow: clip;
			max-width: 30%;
			word-spacing: normal;
			overflow: hidden;
			max-height: 40px;
			line-height: 20px;
			color: $color__text;
			font-family: $Vazir-Light;
			font-size: 13px;
			@include respond(phone) {
			}
			@include respond(tab-port) {
			}
			@include respond(tab-land) {
			}
			@include respond(big-desktop) {
				line-height: 25px;
				max-height: 50px;
				bottom: 70px;
				font-size: 25px;
			}
		}
		&-btn {
			position: absolute;
			left: 20px;
			bottom: 20px;
			width: 130px;
			height: 30px;
			border-radius: 10px;
			background-color: $color__BgBtn;
			cursor: pointer;
			a {
				text-decoration: none;
				font-family: $Vazir-Bold;
				color: $color__text;
				
			}
			&:hover {
				background-color: $color__btn-hover;
			}
			@include respond(phone) {
			}
			@include respond(tab-port) {
			}
			@include respond(tab-land) {
			}
			@include respond(big-desktop) {
				left: 20px;
				bottom: 20px;
				width: 150px;
					font-size: 16px;
					height: 40px;
			}
		}
		&-photo {
			box-shadow: 2px 7px 10px 0px black;
			height: auto;
		}
		&-buttons {
			display: flex;
			width: 100%;
			justify-content: space-between;
			position: absolute;
			border: none;
			outline: none;
			z-index: 2000000000000000;
			top: 50%;
		}
		&-button {
			background-color: #fff;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px;
			cursor: pointer;
			position: absolute;
			&:first-child {
				left: 0;
			}
			&:nth-child(2) {
				right: 0;
			}
		}
		&-icon {
			cursor: pointer;
			width: 100%;
		}
	}
}
.sliderNews {
	display: flex;
	width: 100%;
	border-top: 1px solid $color__primary-text;
	border-bottom: 1px solid $color__primary-text;
	height: 40vh;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	position: relative;
	overflow: hidden;
	padding: 0;
	&__buttons {
		border: none;
		outline: none;
		top: 45%;
		&-btn {
			background-color: #7c71717e;
			&:hover {
				background-color: #ffffff;
			}
		}
	}
	&__images {
		margin: 0 20px;
		position: relative;
		display: flex;
		width: 100%;
		justify-content: center;
		align-items: center;
		z-index: 2;
		&-description {
			position: absolute;
			direction: rtl;
			color: #fff;
			width: 100%;
			height: 20px;
			font-size: 14px;
			line-height: 1.5rem;
			bottom: 0px;
			right: 10px;
			transform-origin: bottom;
			opacity: 0;
		}
		&-img {
			align-self: center;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			box-shadow: 0px 8px 20px 3px #000000f3;
			cursor: pointer;
		}
	}
}
